body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 500px;
    height: auto;
    border-radius: 20px;
    background-color: rgb(39, 36, 36);
    text-align: center;
    padding: 20px;
}
h1{
    color: rgb(255, 255, 255);

}
#mainform{
    display:flex;
    flex-direction: column;
    align-items: center;
}
input,select,textarea {
  flex: 1;
  margin-left: 10px;
  border: 1px solid #9e9898;
  background-color: #9e9898;
  border-radius: 4px;
  width: 80%
}
label{
    color:white;
    align-self: start;
    padding: 10px;
}
.opciones-horizontal {
  display: flex;
  gap: 20px; 
  align-items: center;
}
.submit-btn{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    background-color: #504c4c;
    color: black;
    font-weight: bold;
    font-size: 12px;
}
.submit-btn:hover{
    transform: scale(1.1);
    background-color: #201f1f;
}
#newCaptcha{
    border-radius: 10px;
    width: 100px;
    height: 35px;
    background-color: #969090;
    color: black;
    font-weight: bold;
    font-size: 12px;
}
#newCaptcha:hover{
    transform: scale(1.1);
    background-color: #504c4c;
}
#contenedorcaptcha{
    width: 80%;
    height: 120px;
    background-color: #a1a0a0;
    margin-left: 10px;
    border-radius: 4px;
    padding: 4px;
    align-items: center;
    padding: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#preguntaCaptcha{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
#captcha{
     flex: 1;
  margin-left: 10px;
  border: 1px solid #9e9898;
  background-color: #9e9898;
  border-radius: 4px;
  height: 40px;
  color:black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
#verificacionCaptcha{
    width: auto;
    height: 30px;
    align-self: center;
}
.bien{
    background-color: rgb(201, 214, 181);
    color: green;
    font-size: 15px;
}
.mal{
    background-color: rgb(219, 142, 142);
    color: rgb(168, 20, 20);
    font-size: 15px;
}