body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 500px;
    height: 1000px;
    border-radius: 20px;
    background-color: rgb(39, 36, 36);
    text-align: center;
    padding: 20px;
}
h1{
    color: rgb(255, 255, 255);

}
#mainform{
    display:flex;
    flex-direction: column;
    align-items: center;
}
input,select,textarea {
  flex: 1;
  margin-left: 10px;
  border: 1px solid #9e9898;
  background-color: #9e9898;
  border-radius: 4px;
  width: 80%
}
label{
    color:white;
    align-self: start;
    padding: 10px;
}
.opciones-horizontal {
  display: flex;
  gap: 20px; 
  align-items: center;
}
.submit-btn{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    background-color: #504c4c;
    color: black;
    font-weight: bold;
    font-size: 12px;
}
.submit-btn:hover{
    transform: scale(1.1);
    background-color: #201f1f;
}

